SECRET_KEY=any_random_string_you_want
MONGO_URI=mongodb+srv://swaroop07p_db_user:ItJRaZ3mgv8Yfb9w@digitalaudiodetector.quomead.mongodb.net/
PYTHON_VERSION=3.9.0
GEMINI_API_KEY=AIzaSyDauVJ3-f47wx_AeaHd9-g1RNs90k1AqiU