SECRET_KEY=any_random_string_you_want
MONGO_URI=mongodb+srv://swaroop07p_db_user:ItJRaZ3mgv8Yfb9w@digitalaudiodetector.quomead.mongodb.net/
PYTHON_VERSION=3.9.0
GEMINI_API_KEY=AIzaSyA6i43qi3z7v1h-vDmFd0U8wDelNx3C-RI